$breakpoint-phone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-wide-desktop: 1200px;

@mixin phone {
  @media (max-width: ($breakpoint-phone - 1)) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) and (max-width: ($breakpoint-desktop - 1)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) and (max-width: ($breakpoint-large-desktop - 1)) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: $breakpoint-wide-desktop) {
    @content;
  }
}
