@import "/app/styles/globals.scss";

.chevronIcon {
  @media ((max-width: $breakpoint-tablet)) {
    display: none;
  }
}

.eventsList {
  margin-bottom: 0;

  & > li {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
