.my-dash-container {
  column-count: 2;
  column-gap: 24px;

  @media (max-width: 1024px) {
    column-count: 1;
  }

  section {
    padding: 24px;
    display: inline-block;
  }

  .highlight-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 84px;
  }

  .simple-grid {
    display: grid;
  }

  .dash-item-paragraph {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: unset;
    padding-right: 24px;
  }
}
