@import "app/styles/globals.scss";

.headerWrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: $breakpoint-sm) {
  .headerWrapper {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}
