@import "/app/styles/globals.scss";

.eventContainer {
  flex: 1;
  margin-top: 1rem;

  @media ((max-width: $breakpoint-phone)) {
    margin-top: 0;
  }
}

.sectionsWrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 2.5rem;

  @media ((max-width: $breakpoint-tablet)) {
    gap: 0;
  }
}

.section {
  margin-bottom: 1rem;
  flex: 1;
  min-width: 400px;

  @media ((max-width: $breakpoint-tablet)) {
    min-width: 100%;
  }

  @media ((max-width: $breakpoint-phone)) {
    margin: 0;
  }
}
